// main: style.less

@black: #000;
@gray: #373737;
@white: #fff;

@computer-w: ~"(max-width: 1980px)";
@computer-h: ~"(max-height: 1080px)";
@computer-sm-w: ~"(max-width: 1660px)";
@computer-sm-h: ~"(max-height: 900px)";
@notebook: ~"(max-width: 1200px)";
@tablet: ~"(max-width: 960px)";
@mobile: ~"(max-width: 767px)";
@mobile-sm: ~"(max-width: 560px)";
@mobile-sm-h: ~"(max-height: 753px)";
@mobile-supersm: ~"(max-width: 321px)";
